body,
html {
  background: linear-gradient(rgb(97, 30, 61), rgb(26, 24, 27));
  color: aliceblue;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: black;
  font-family: "Fira Sans", sans-serif;
  color: aliceblue;
}
.video-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.video-header iframe {
  width: 60%;
  aspect-ratio: 16 / 9;
}
