body,
html {
  background: linear-gradient(#611e3d, rgb(26, 24, 27));
  color: aliceblue;
  margin: 0;
  padding: 0;
}
a {
  color: rgb(255, 163, 247);
}
header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  font-family: "Fira Sans", sans-serif;
  font-size: larger;
  color: aliceblue;
}
.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  font-family: "montserrat";
  background-color: #240521;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border-radius: 20px;
}
.main-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2%;
}
.video-header {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  margin: 2%;
  margin-left: 4%;
  width: 300%;
}
.video-header iframe {
  aspect-ratio: 16 / 9;
  width: 400%;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  font-family: "montserrat";
  background-color: #240521;
  padding: 5%;
  border-radius: 20px;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 4%;
  border-radius: 20px;
  background-color: #f1d867;
  font-size: x-large;
  font-family: "Fira Sans";
  color: rgb(53, 9, 9);
}
.call-to-action a {
  color: #010053;
}
.call-to-action a:hover {
  color: #ff0000;
}
.call-to-action a:visited {
  color: #240521;
}
.section2 {
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
  align-items: center;
}
.top-players {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  background-color: #611e3d;
  padding: 2%;
  border-radius: 20px;
  font-family: "montserrat";
}
.tierlist {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  margin-left: 2%;
  padding: 3%;
  border-radius: 20px;
  background-color: #611e3d;
}
table {
  border-collapse: collapse;
}

th,
td {
  border: 2px solid #ddd;
  padding: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  margin-top: 5%;
  height: 35vh;
  font-family: "montserrat";
}
.footer-note {
  margin: 5%;
  margin-left: 20%;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3%;
  margin-right: 20%;
}
input[type="text"],
input[type="email"] {
  width: 100%; /* Makes fields full width of their container */
  padding: 12px 20px; /* Increases internal spacing */
  font-size: 16px; /* Increases text size */
  margin-bottom: 10px; /* Adds space between fields */
}
input[type="submit"],
button {
  padding: 12px 24px;
  font-size: 14px;
}
